    <!DOCTYPE html>
    <html>
    
    <head>
      <meta charset="utf-8">
      <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Personal WebSite</title>
    </head>
    
    <body>
      <div class="box">
        <img src="{{ url_for('static', filename='photo.jpg') }}" alt="" class="box-img">
        <h1>
          Anne Stepanian</h1>
        <h5>
          Systems administrator</h5>
        <p>
          Responsible for the day-to-day operation of network and computer systems. Organise, install, and support an organization's computer systems, 
          including local area networks, wide area networks, network segments, intranets, and other data communication systems.</p>
        <ul>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </body>
    
    </html>